//!==================== Первая секция основного содержимого ========================================================================================
// Обращение к секции
.get-started {
    background-color: $bg; // Цвет фона
    // .get-started__container - главный ограничивающий контейнер секции
    &__container {
        padding: rem(163) rem(15) rem(48) rem(15); // Внутренние отступы сверху, справа, снизу, слева.
        display: flex; // Выстраивает элементы согласно флекс модели и делает их блочными
        align-items: center; // Выравнивает элементы по вертикали (центрует)
        flex-wrap: wrap; // Разрешает перенос строки
        position: relative; // Делает элемент родителем
        @media (max-width: rem(1087)) // Брекпоинт при разрешении экрана меньше 1087px
        {   
            max-width: rem(970); // Максимальная ширина контейнера при разрешении экрана меньше 1087px
            min-height: rem(124); // Минимальная высота контейнера (шапки) при разрешении экрана меньше 1087px
            padding: rem(123) rem(15) rem(48) rem(15);
        }
        @media  (max-width: rem(991.98)) // Брекпоинт при разрешении экрана меньше 992px
        {   
            max-width: rem(750); // Максимальная ширина контейнера при разрешении экрана меньше 992px
            min-height: rem(114); // Минимальная высота контейнера (шапки) при разрешении экрана меньше 992px
        }
        @media  (max-width: rem(767.98)) // Брекпоинт при разрешении экрана меньше 768px
        {   
            max-width: none;// Обнуляет максимальную ширину контейнера при разрешении экрана меньше 768px
            flex-direction: column-reverse;
        } 
        // Псевдо-элемент "Перед" (Красный декор)
        &::before{
            content: ""; // Обязательное свойство, отвечающее за отображение контента
            position: absolute; // Позиционирует относительно родителя
            width: 100vh; // Ширина 100% монитора
            height: 100%; // Высота (высчитывается на основе родителя)
            right: rem(267); // Позиционирует горизонтали
            top: 0; // Позиционирует по вертикали
            transform: translate(100%, rem(0)); // Двигаем к правому краю 
            border-radius: rem(20) 0 0 rem(20); // Скругление углов
            background-color: $red; // Цвет фона
            @media (max-width: rem(991.98)) // Брекпоинт при разрешении экрана меньше 992px
            {right: rem(185);} // Уменьшаем размер красного декора 
            @media (max-width: rem(767.98)) // Брекпоинт при разрешении экрана меньше 768px
            {display: none;} // Убираем красный декор
        }
    }
    // .get-started__content - контейнер текстов
    &__content {
        flex: 0 1 48%; // Делим ширину между картинкой и блоком текста. 48% от 100%. 
        padding: 0 rem(20); // Внутренний отступ слева и справа
        @media (max-width: rem(767.98)) // Брекпоинт при разрешении экрана меньше 768px
        {
            flex: 1 1 100%; // контейнер занимает всю ширину 
            text-align: center; // Выравнивание текста по центру
            padding: 0; // Обнуление внутреннего отступа
        }
    }
    // .get-started__block-text - Контейнер текстов более глубокого уровня
    &__block-text {
        max-width: rem(410); // Максимальная ширина
        margin: 0 auto; // Выравнивание по центру
        @media (max-width: rem(767.98)){
            max-width: rem(410);
        }
        @media (max-width: rem(587.98)){
            max-width: rem(370);
        }
    }
    // .get-started__video  - обращение к контейнеру для видео-ссылки
    &__video {
        flex: 1 1 100%; // Занимает всю ширину внутри контейнера
        margin: rem(60) 0 0 rem(20); // Внутренний отступ сверху и слева 
        display: inline-flex; // Элемент являясь строчным становится флексом
        @media  (max-width: rem(767.98)) // Брекпоинт при разрешении экрана меньше 768px
        {
            padding: 0; // Обнуление внутренних отступов
        }
    }
    // .get-started__image - обращение к контейнеру для изображения
    &__image {
        order: 1; // Изначальный номер элемента
        position: relative; // Элемент становится родителем
        z-index: 5; // Элемент накладывается поверх тех элементов, у которых z-индекс меньше чем у самого элемента.
        flex: 0 1 52%; // Делим ширину между картинкой и блоком текста. 52% от 100%.  
        @media  (max-width: rem(767.98)) // Брекпоинт при разрешении экрана меньше 768px
        {
            flex: 1 1 100%; // Занимает всю ширину
            text-align: center; // Выравнивание по центру
            margin: rem(30) 0; // Внешний отступ сверху и снизу
            order: 2; // Картинки занимает место кнопки видео, а видео место кнопки просмотра
            margin-bottom: 0; // Обнуление внешнего отступа снизу
        }
        img{
            max-width: 100%; // Ширина картинки 100% ( высчитывается на основе родителя). Для адаптива
        }
    }
//!========================================================================================================================================================
//?========================================================================================================================================================
//!==================== Блок кнопки для просмотра видео ===================================================================================================
    // Обращение к контейнеру кнопки просмотра видео
    .video-get-started {
        display: inline-flex; // Элемент оставаясь строчным становится флексом
        transition: .2s; // Плавность анимации
        transform: scale(1); // Стандартный размер
        max-height: rem(200);
        order: 2; // Изначальный номер элемента
        &:hover // Псведо-элемент. Определяет стиль элемента при наведении на него курсора мыши.
        {
            transform: scale(1.05); // Увеличение элемента при наведении. Не затрагивает другие элементы
        }
        @media  (max-width: rem(767.98)) // Брекпоинт при разрешении экрана меньше 768px
        {
            max-height: none;
            margin: 0 auto; // Выравнивание по центру
            margin-bottom: rem(35); // Внешний нижний отступ
            order: 1; // Картинки занимает место кнопки видео, а видео место кнопки просмотра
            
        }
        @media  (max-width: rem(467.98)) // Брекпоинт при разрешении экрана меньше 468px
        {
            margin-bottom: rem(20); // Уменьшение внешнго отступа снизу
        }
        // .video-get-started__icon - иконка кнопки просмотра видео
        &__icon {
            flex: 0 0 rem(44); // Ширина иконки
            // Обращение к svg файлу (к иконке)
            &-svg{
                stroke:$blue; // Цвет границ 
                fill: $bg; // Цвет заливки
                transform: scale(1); // Оригинальный размер
                transition: .2s; // Плавность анимации
                &:hover // Псведо-элемент. Определяет стиль элемента при наведении на него курсора мыши.
                {
                   stroke: $red; // Цвет границ
                   transform: scale(1.1); // Визуальное увеличение элемента. Не затрагивает остальные элементы.
                }
            }
        }
        // .video-get-started__body - контейнер для текста
        &__body {
            padding: 0 0 0 rem(12); // Внутренний отступ слева
        }
        // .video-get-started__title -  обращение к заголовоку ссылки (кнопки)
        &__title {
            color: $sgray; // Цвет текста
            font-size: rem(13); // Размер шрифта
            line-height: 126%; // Межстрочный интервал
            letter-spacing: rem(1.5); // Межсимвольный интервал
            &:not(:last-child) // Обращение ко всем элементам кроме последнего
            {
                margin: 0 0 rem(5) 0; // Внешний отступ снизу
            }
        }
        // .video-get-started__text // Обращение к тексту ссылки
        &__text {
            text-transform: uppercase; // Перевод текста в верхний регистр
            font-size: rem(9); // Размер шрифта
            line-height: 126%; // Межстрочный интервал
            letter-spacing: rem(2); // Межсимвольный интервал
            color: $mainColor; // Цвет текста
            transition: .2s; // Плавность анимации
        }
    }
}
//!========================================================================================================================================================
//?========================================================================================================================================================
//!======================= Заголовки сайта ================================================================================================================
// Контейнер текста сайта
.block-text {
    // .block-text__title - Контейнер заголовков сайта
    &__title {
        font-weight: 700; // Ширина шрифта (жирность)
        font-size: rem(44); // Размер шрифта 
        line-height: 126%; // Межстрочный интервал
        color: $mainColor; // Цвет текста
        @media  (max-width: rem(767.98)) // Брекпоинт при разрешении экрана меньше 768px
        {
          font-size: rem(38); // Размер шрифта
        }
        @media  (max-width: rem(371.98)) // Брекпоинт при разрешении экрана меньше 372px
        {
            font-size: rem(33); // Размер шрифта
        }
          @media  (max-width: rem(327.98)) // Брекпоинт при разрешении экрана меньше 328x
        {
            font-size: rem(28); // Размер шрифта
        }
        &:not(:last-child) // Обращение ко всем элементам кроме последнего
        {
            margin: 0 0 rem(12) 0; // Внешний отступ снизу для всех элементов кроме последнего.
        }
        span // Контейнер для выделяемого слова
        {
            color: $red; // Цвет выделяемого слова
        }
    }
    // .block-text__title-blue - Обращение к контейнеру с синим выделенным словом
    &__title-blue {
        span // Контейнер для выделяемого слова
        {
            color: $blue; // Цвет выделяемого слова
        }
    }
    // .block-text__text - Обращение к контейнеру текста под заголовками
    &__text {
        &:not(:last-child) // Обращение ко всем элементам кроме последнего
        {
            margin: 0 0 rem(24) 0; // Внешний отступ снизу для всех элементов кроме последнего.
        }
        line-height: 138.5%; // Межстрочный интервал
        color: $gray; // Цвет текста
    }
}
//!========================================================================================================================================================
//?========================================================================================================================================================
//!====================== Вторая секция оснвоного содержимого  ============================================================================================
// Обращение к секции 
.stay-safe {
    padding: rem(80) 0; // Внутренний отступ сверху и снизу
    @media  (max-width: rem(1087)) // Брекпоинт при разрешении экрана меньше 1087px
    {
        padding: rem(0); // Обнуление внутренних отступов
    }
    // .stay-safe__container - главный ограничивающий контейнер секции
    &__container {
        display: flex; // Элементы выстраиваются согласно флекс модели
        align-items: center; // Выравнивание элементов по вертикали
        @media (max-width: rem(1087)) // Брекпоинт при разрешении экрана меньше 1087px
        {   
            max-width: rem(970); // Максимальная ширина контейнера при разрешении экрана меньше 1087px
            min-height: rem(124); // Минимальная высота контейнера (шапки) при разрешении экрана меньше 1087px
            padding: rem(123) rem(15) rem(48) rem(15);
        }
        @media  (max-width: rem(991.98)) // Брекпоинт при разрешении экрана меньше 992px
        {   
            max-width: rem(750); // Максимальная ширина контейнера при разрешении экрана меньше 992px
            min-height: rem(114); // Минимальная высота контейнера (шапки) при разрешении экрана меньше 992px
        }
        @media  (max-width: rem(767.98)) // Брекпоинт при разрешении экрана меньше 768px
        {
            padding: rem(63) rem(15) rem(48) rem(15); // Уменьшаем отступ сверху
            max-width: none; // Обнуляет максимальную ширину контейнера при разрешении экрана меньше 768px
            justify-content: center; // Выравнивание содержимого по центру
            flex-direction: column; // Выстраивает элементы в колонку и переворачивает
        }
        @media  (max-width: rem(467.98)) // Брекпоинт при разрешении экрана меньше 468px
        {
            padding: rem(33) rem(15) rem(48) rem(15); // Уменьшаем отступ сверху
        } 
    }
    // .stay-safe__media - контейнер для картинки и декора
    &__media {
        flex: 0 1 50%; // Разделение контейнера пополам между элементами (текст и картинка приложения)
        padding: rem(0) rem(0) rem(0) rem(47); // Внутренний отступ слева
        @media  (max-width: rem(767.98)) // Брекпоинт при разрешении экрана меньше 768px
        {
            padding: rem(0) rem(0) rem(0) rem(15); // Уменьшаем внутренний отступ слева
        }
    }
    // .stay-safe__content - контейнер для текста
    &__content {
    flex: 0 1 50%; // Делим контейнер пополам между картинкой и текстом
    @media  (max-width: rem(767.98)) // Брекпоинт при разрешении экрана меньше 768px
    {
        padding-top: rem(40); // Внутренний отступ сверху
        align-content: center; // Выравнивание по вертикали (центрирование)
        text-align: center; // Выравнивание элементов по центру
    }
    }
    // .stay-safe__block-text - Обращение к контейнеру текста
    &__block-text{
        display: inline-block; // Элемент становится блочным сохраняя свойства строчного элемента
        max-width: rem(410); // Максимальная ширина
        @media (max-width: rem(767.98)) // Брекпоинт при разрешении экрана меньше 768px
        {
        max-width: rem(510); // Максимальная ширина
        }
        @media (max-width: rem(587.98)) // Брекпоинт при разрешении экрана меньше 588px
        {
        max-width: rem(410); // Максимальная ширина
        }
        @media  (max-width: rem(469.98)) // Брекпоинт при разрешении экрана меньше 470px
        {
        max-width: rem(375); // Максимальная ширина
        } 
    }
}
//!========================================================================================================================================================
//?========================================================================================================================================================
//!====================== Картина и декор =================================================================================================================
// Обращение к контейнеру изображения и декора
.media-stay-safe {
    width: rem(373); // Ширина
    padding: rem(56) rem(0) rem(27) rem(0); // Внешний отступ сверху и снизу
    position: relative; // Элемент становится родителем
    text-align: center; // Позиционирование по центру
    @media (max-width: rem(767.98)) // Брекпоинт при разрешении экрана меньше 768px
    {
        margin-bottom: rem(20); // Внешний отступ снизу
    }
    @media (max-width: rem(467.98)) // Брекпоинт при разрешении экрана меньше 468x
    {
        margin-bottom: rem(0); // Внешний отступ снизу
    }
    // .media-stay-safe__image - обращение к контейнеру изображения
    &__image {
        display: inline-block; // Элемент становится блочным сохраняя свойства строчного элемента
        filter: drop-shadow(rem(2) rem(4) rem(32) rgba(0, 0, 0, 0.12)); // Тень
        border-radius: rem(16); // Скругление углов
        // Обращение к изображения
        img{
            max-width: 100%; // Максимальная ширина изображения (для адаптива)
        }
        // Обращение к псевдо-элементу "После"
        &::after{
            content: ''; // Обязательное свойство. Отвечает за отображение контента
            position: absolute; // Позиционирование относительно родителя
            bottom: rem(-12); // Позиционирование по вертикали
            left: rem(12); // Позиционирование по горизонтали
            width: rem(206); // Ширина
            height: rem(27); // Высота
            background-color: $shadow; // Цвет элемента
            border-radius: rem(16); // Скругление углов
        }
    }
    // .media-stay-safe__item - обращение к общему контейнеру декора
    &__item {
        position: absolute; // Позиционрование относительно родителя
        background-color: $red; // Цвет фона
        border-radius: rem(30); // Скругление углов
        height: rem(77); // Высота
        width: rem(77); // Ширина
        z-index: -1; // Помещение под родителя
    }
    // .media-stay-safe__item-1 - обращение к первому элементу декора
    &__item-1 {
        top: 0; // Позиционирование сверху
        left: 0; // Позиционирование слева
        height: rem(147); // Высота
        width: rem(147); // Ширина
    }
    // .media-stay-safe__item-2 - обращение ко второму элементу декора
    &__item-2 {
        bottom: 0; // Позиционирование снизу
        left: rem(33); // Позиционирование слева
    }
    // .media-stay-safe__item-3 - обращение к третьему элементу декора
    &__item-3 {
        bottom: rem(107); // Позиционирование снизу
        right: rem(34); // Позиционирование справа
    }
}
//!========================================================================================================================================================
//=========================================================================================================================================================
//!====================== Третья секция оснвоного содержимого =============================================================================================
.experts {
    background-color: $bg; // Цвет фона
    padding: rem(103) rem(0) rem(116) rem(0); // Внутренний отступ сверху и снизу
    @media  (max-width: rem(767.98)) // Брекпоинт при разрешении экрана меньше 768px
    {
        padding: rem(103) rem(0) rem(20) rem(0); // Уменьшение отступов
    }
    // .experts__container - главный ограничивающий котейнер секции
    &__container {
        @media (max-width: rem(1087)) // Брекпоинт при разрешении экрана меньше 1087px
        {   
            max-width: rem(970); // Максимальная ширина контейнера при разрешении экрана меньше 1087px
            min-height: rem(124); // Минимальная высота контейнера (шапки) при разрешении экрана меньше 1087px
        }
        @media  (max-width: rem(991.98)) // Брекпоинт при разрешении экрана меньше 992px
        {   
            max-width: rem(750); // Максимальная ширина контейнера при разрешении экрана меньше 992px
            min-height: rem(114); // Минимальная высота контейнера (шапки) при разрешении экрана меньше 992px
        }
        @media  (max-width: rem(767.98)) // Брекпоинт при разрешении экрана меньше 768px
        {   
            max-width: none;// Обнуляет максимальную ширину контейнера при разрешении экрана меньше 768px
        } 
    }
    // .experts__body - Обращение к контейнеру основного содержимого блока
    &__body {
        display: flex; // Выравнивание элементов согласно флекс модели
        align-items: center; // Выравнивание по центру (вертикаль)
        @media  (max-width: rem(767.98)) // Брекпоинт при разрешении экрана меньше 768px
        {
            align-items: stretch; // Растягивает флекс элемент, чтобы тот занял все доступное пространство
            flex-direction: column-reverse; // Выстраивает элементы в колонку и переворачивает
        }
    }
    // .experts__content - Обращение к контейнеру текста и видео
    &__content {
        flex: 0 1 50%; // Разделяет блок между двумя под-блоками по полам (Текст и видео)
        padding: rem(0) rem(20) rem(0) rem(0); // Внутренний отступ справа
        @media  (max-width: rem(767.98)) // Брекпоинт при разрешении экрана меньше 768px
        {
            padding: 0; // Обнуление внутренних отступов
            margin: rem(0) rem(0) rem(30) rem(0); // Внешний отступ снизу
            text-align: center; // Выравнивание по центру
        }
    }
    // .experts__block-text - обращение к контейнеру текста
    &__block-text {
        display: inline-block; // Элемент становится блочным сохраняя свойства строчного элемента
        max-width: rem(410); // Максимальная ширина
        @media (max-width: rem(767.98)) // Брекпоинт при разрешении экрана меньше 768px
        {
        max-width: rem(380); // Максимальная ширина
        }
        @media (max-width: rem(587.98)) // Брекпоинт при разрешении экрана меньше 588px
        {
        max-width: rem(370); // Максимальная ширина
        }
        @media  (max-width: rem(469.98))  // Брекпоинт при разрешении экрана меньше 470px
        {
        max-width: rem(315); // Максимальная ширина
        }
    }
    // .experts__video - Обращение к контейнеру видео
    &__video {
        flex: 0 1 50%; // Разделяет блок между двумя под-блоками по полам (Видео и текст)
        padding: rem(0) rem(0) 28% rem(0); // Размер видео по вертикали
        position: relative; // Элемент становится родителем
        opacity: 0.5; // Непрозрачность 50%
        transition: .3s; // Длительность анимации (плавность)
        box-shadow: rem(0) rem(4)  rem(18) rgba(88, 126, 236, 0.18); // Тень
        overflow: hidden; // Обрезает лишнее (то, что выходит за пределы контейнера)
        border-radius: rem(8); // Скругление углов
        @media  (max-width: rem(767.98)) // Брекпоинт при разрешении экрана меньше 768px
        {
            padding: rem(0) rem(0) 58% rem(0); // Размер видео по вертикали
            margin-bottom: rem(35); // Внешний отступ снизу
        }
        &:hover // Псведо-элемент. Определяет стиль элемента при наведении на него курсора мыши.
        {
            opacity: 1; // Непрозрачность 100%
        }
        // Обращение к видео
        iframe{
            position: absolute; // Позиционирование относительно родителя
            width: 100%; // Ширина высчитывается на основе родителя
            height: 100%; // Высота высчитывается на основе родителя
            top: 0; // Позиционирование сверху
            left: 0; // Позиционирование слева
            object-fit: cover; // Растягивает видео на весь размер контейнера (для безопасности)
        }
    }
}
// Обращение к контейнеру статистики используя методологию БЭМ
.statistics-experts {
    max-width: rem(655); // Максимальная ширина
    margin: 0 auto; // Выравнивание по центру
    position: relative; // Элемент становится родителем
    // .statistics-experts__body - Контейнер статистики
    &__body {
        background-color: $white; // Цвет фона
        box-shadow: rem(0) rem(2) rem(24) rgba(88, 126, 236, 0.15); // Тень
        border-radius: rem(16); // Скругление углов
        position: relative; // Элемент становится родителем
        z-index: 2; // Элемент накладывается поверх тех элементов, у которых z-индекс меньше чем у самого элемента.
        margin: 0 0 rem(80) 0; // Внешний отступ снизу
        @media  (max-width: rem(767.98)) // Брекпоинт при разрешении экрана меньше 768px
        { 
            margin: 0 0 rem(50) 0; // Уменьшение внешнего отступа снизу
        }
    }
    // .statistics-experts__decor - Обращение к общему контейнеру декора
    &__decor {
        position: absolute; // Позиционирование относительно родителя
        background-color: $red; // Цвет текста
        border-radius: rem(30); // Скругление углов
    }
    // .statistics-experts__decor-1 - Обращение к контейнеру первого декора
    &__decor-1 {
        height: rem(65); // Высота
        width: rem(65); // Ширина
        left: rem(-21); // Позиционирование по горизонтали
        bottom: rem(-21); // Позиционирование по вертикали
        border-radius: rem(16); // Скругление углов
        transform: rotate(-30deg); // Поворот элемента
    }
    // .statistics-experts__decor-2 - Обращение к контейнеру второго декора
    &__decor-2 {
        height: rem(97); // Высота
        width: rem(97); // Ширина
        right: 50%; // Позиционирование по горизонтали
        top: rem(-40); // Позиционирование по вертикали
        transform: rotate(30deg); // Поворот элемента
    }
    // .statistics-experts__decor-3 - Обращение к контейнеру третьего декора
    &__decor-3 {
        height: rem(128); // Высота
        width: rem(128); // Ширина
        right: rem(-50); // Позиционирование по горизонтали
        top: rem(0);  // Позиционирование по вертикали
        transform: rotate(-30deg); // Поворот элемента
    }
}
//  Обращение к контейнеру статистики используя методологию БЭМ
.body-statistics-experts {
    padding: rem(25) rem(80); // Внутренний отступ сверху, снизу, слева, справа.
    display: flex; // Выстраивает элементы согласно флекс модели.
    align-items: center; // Выравнивает элементы по центру (вертикаль)
    gap: rem(40);
    @media  (max-width: rem(767.98)) // Брекпоинт при разрешении экрана меньше 768px
    {
        padding: rem(25) rem(40); // Уменьшение внутренних отступов слева и справа
        gap: rem(30);
    } 
    @media  (max-width: rem(667.98)) // Брекпоинт при разрешении экрана меньше 668px
    {
        padding: rem(25) rem(20); // Уменьшение внутренних отступов слева и справа
    } 
    @media  (max-width: rem(567.98)) // Брекпоинт при разрешении экрана меньше 568px
    {
        padding: rem(25) rem(0); // Уменьшение внутренних отступов слева и справа
    }
    @media  (max-width: rem(479.98)) // Брекпоинт при разрешении экрана меньше 480px
    {
        flex-direction: column; // Выстраивание элементов в колонку
    }
    // .body-statistics-experts__item - Обращение к контейнеру статистических данных 
    &__item {
        flex: 0 1 25%; // Ширина элементов
        text-align: center; // Выравнивание по центру
        @media  (max-width: rem(479.98)) // Брекпоинт при разрешении экрана меньше 480px
        {
            &:not(:last-child ) // Обращение ко всем, кроме последнего. 
            {margin: 0 0 rem(15) 0;} // Внешний отступ снизу
        }
    }
    // .body-statistics-experts__value - Обращение к контейнеру значений
    &__value {
        font-weight: 700; // Ширина шрифта (жирность)
        font-size: rem(36); // Размер текста
        line-height: math.div(43, 36); // Межстрочный интервал
        letter-spacing: rem(1); // Межсимвольный интервал
        color: $red; // Цвет текста
        margin-bottom: rem(5); // Внешний отступ снизу
    }
    // .body-statistics-experts__text - Обращение к контейнеру текста
    &__text {
        font-weight: 700; // Ширина шрифта (жирность)
        font-size: rem(11); // Размер шрифта
        line-height: math.div(13, 11); // Межстрочный интервал
        letter-spacing: 0.37em; // Межсимвольный интервал
        text-transform: uppercase; // Переводим текст в верхний регистр
    }
}
//!========================================================================================================================================================
//?========================================================================================================================================================
//!=================== Четвертая секция оснвоного содержимого =============================================================================================
// Обращение к секции
.healthcare {
    padding: rem(80) rem(0) rem(30) rem(0); // Внутренний отступ сверху и снизу
    // .healthcare__container - главный ограничивающий контейнер секции
    &__container {
        @media (max-width: rem(1087)) // Брекпоинт при разрешении экрана меньше 1087px
        {   
            max-width: rem(970); // Максимальная ширина контейнера при разрешении экрана меньше 1087px
            min-height: rem(124); // Минимальная высота контейнера (шапки) при разрешении экрана меньше 1087px
        }
        @media  (max-width: rem(991.98)) // Брекпоинт при разрешении экрана меньше 992px
        {   
            max-width: rem(750); // Максимальная ширина контейнера при разрешении экрана меньше 992px
            min-height: rem(114); // Минимальная высота контейнера (шапки) при разрешении экрана меньше 992px
        }
        @media  (max-width: rem(767.98)) // Брекпоинт при разрешении экрана меньше 768px
        {   
            max-width: none;// Обнуляет максимальную ширину контейнера при разрешении экрана меньше 768px
        } 
    }
    // .healthcare__block-text - обращение к контейнеру текста
    &__block-text {
        text-align: center; // Выравнивание по центру
        margin: 0 0 rem(45) 0; // Внешний отступ снизу
        @media (max-width: rem(767.98)) // Брекпоинт при разрешении экрана меньше 768px
        {
            max-width: rem(480); // Максимальная ширина
            margin: 0 auto; // Выравнивание по центру
        }
        @media (max-width: rem(525.98)) // Брекпоинт при разрешении экрана меньше 526px
        { 
            max-width: rem(410); // Максимальная ширина
        }
        @media (max-width: rem(425.98)) // Брекпоинт при разрешении экрана меньше 426px
        {
            max-width: rem(340); // Максимальная ширина
        }
    }
    // .healthcare__items - обращение к контейнеру блоков
    &__items {
        display: flex; // Элементы внутри контейнера выстраиваются согласно флекс модели
        max-width: rem(980); // Максимальная ширина
        margin: 0 auto; // Выравнивание по центру
        gap: rem(72); // Отступ между блоками
        @media (max-width: rem(767.98)) // Брекпоинт при разрешении экрана меньше 768px
        {
        flex-direction: column; // Выстраивает блоки колонкой
        gap: rem(36) // Уменьшает отступ между блоками
        }
    }
    // .healthcare__item - обращение к контейнеру предмета (картинка, заголовок, текст)
    &__item {
        flex: 0 1 33.333%; // Разделение блока между 3 элементами
    }
    &__title{
        @media (max-width: rem(601.98)) // Брекпоинт при разрешении экрана меньше 602px
        {
            font-size: rem(30); // Размер шрифта
        }
        @media (max-width: rem(482.98)) // Брекпоинт при разрешении экрана меньше 483px
        {
            font-size: rem(25); // Размер шрифта
        }
    }
}
.block-text {
    // .block-text__block-text-mw -  обращение к контейнеру текста
    &__block-text-mw {
        max-width: rem(600); // Максимальная ширина
        margin: 0 auto; // Выравнивание по центру
    }
}
// Обращение к контейнеру предмета (картинка, заголовок, текст)
.item-healthcare {
    box-shadow: rem(0) rem(4) rem(18) rgba(88, 126, 236, 0.18); // Тень
    border-radius: rem(8); // Скругление углов
    background-color: $white; // Цвет фона
    display: flex; // Выстраивает элементы внутри контейнера согласно флекс модели
    flex-direction: column; // Выстраивает элементы в колонку
    align-items: center; // Выравнивает по центру (вертикаль)
    padding: rem(35) rem(17); // Внутренний отступ сверху, снизу и слева, справа.
    text-align: center; // Выравнивание текста по центру
    position: relative; // Элемент становится родителем
    @media (max-width: rem(1087)) // Брекпоинт при разрешении экрана меньше 1087px
    {
        padding: rem(15); // Внутренний отступ
    }
    @media (max-width: rem(767.98)) // Брекпоинт при разрешении экрана меньше 768px
    {
        &:first-child // Обращение к первому элементу (блоку)
        {
            margin-top: rem(35); // Внешний отступ сверху
        }
    }
    // .item-healthcare__icon - обращение к контейнеру картинки
    &__icon {
        margin: 0 0 rem(58) 0; // Внешний отступ снизу
        @media (max-width: rem(767.98)) // Брекпоинт при разрешении экрана меньше 768px
        { 
            margin: 0 0 rem(25) 0; // Уменьшение внешнего отступа снизу
        }
    }
    // .item-healthcare__title - Обращение к заголовку 
    &__title {
        font-weight: 700; // Ширина шрифта (жирность)
        font-size: rem(16); // Размер шрифта
        line-height: 138.5%; // Межстрочный интервал
        letter-spacing: 0.08em; // Межсимвольный интервал
        color: $mainColor; // Цвет текста
        margin: 0 0 rem(4) 0; // Внешний отступ снизу
    }
    // .item-healthcare__text - обращение к контейнеру текста
    &__text {
        line-height: 138.5%; // Межстрочный интервал
        letter-spacing: 0.08em; // Межсимвольный интервал
        color: $gray; // Цвет текста
    }
    // .item-healthcare__1 - контейнер первого элемента декора
    &__1{
        // Псевдо элемент "Перед"
        &::before{
            content: ''; // Главное свойство, отвечает за отображение контента
            width: rem(65); // Ширина
            height: rem(65); // Высота
            bottom: rem(-40); // Позиционирование по вертикали
            left: rem(-22); // Позиционирование по горизонтали
            transform: rotate(-30deg); // Поворот элемента
            border-radius: rem(16); // Скругление углов
            z-index: -1; // Помещается под родителя
        }
         // Псевдо элементы "После" и "Перед" 
        &::after, &::before{
            content: ''; // Главное свойство, отвечает за отображение контента
            position: absolute; // Позииционирование относительно родителя
            background-color: $red; // Цвет фона
        }
        // Псевдо элемент "После"
        &::after{
            content: ''; // Главное свойство, отвечает за отображение контента
            width: rem(97); // Ширина
            height: rem(97); // Высота
            top: rem(40); // Позиционирование по вертикали
            right: rem(-50); // Позиционирование по горизонтали
            transform: rotate(105deg); // Поворот элемента
            border-radius: rem(30); // Скругление углов
            z-index: -1; // Помещается под родителя
        }
    }
    // .item-healthcare__2 - контейнер второго элемента декора
    &__2{
        // Псевдо элемент "Перед"
        &::before{
            content: ''; // Главное свойство, отвечает за отображение контента
            width: rem(128); // Ширина
            height: rem(128); // Высота
            right: rem(-80); // Позиционирование по горизонтали
            bottom: rem(-35); // Позиционирование по вертикали
            transform: rotate(-30deg); // Поворот элемента
            border-radius: rem(30); // Скругление углов
            z-index: -1; // Помещается под родителя
            position: absolute; // Позииционирование относительно родителя
            background-color: $red; // Цвет фона
            @media (max-width: rem(767.98)) // Брекпоинт при разрешении экрана меньше 768px
            {
                left: rem(-80); // Позиционирование по горизонтали
                bottom: rem(-65); // Позиционирование по вертикали
            }
        }
    }
    // .item-healthcare__3 - контейнер третьего элемента декора
    &__3{
        // Псевдо элемент "После"
        &::after{
            content: ''; // Главное свойство, отвечает за отображение контента
            width: rem(66); // Ширина
            height: rem(66); // Высота
            top: rem(-30); // Позиционирование по вертикали
            right: rem(-18); // Позиционирование по горизонтали
            border-radius: 16px; // Скругление углов
            transform: rotate(-30deg); // Поворот элемента
            position: absolute; // Позииционирование относительно родителя
            background-color: $red; // Цвет фона
            z-index: -1; // Помещается под родителя
        }
    }
}
//!========================================================================================================================================================
